<div #messageContainer class="message-container">
  <div *ngFor="let message of messages">
    <div *ngIf="message.isMe" class="segments load">
      <div class="from-user top">
        <div class="message-inner">
          <p>{{ message.message }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="!message.isMe" class="segments load">
      <div *ngIf="message === messages[messages.length - 1]" class="from-watson latest top">
        <div class="message-inner">
          <p>
            <span *ngFor="let generic of message.response.output.generic">
              <div *ngIf="generic.response_type === 'text'">{{generic.text}}</div>
              <div style="padding-top: 5px"></div>
              <div *ngIf="generic.response_type === 'option'">
                {{ generic.title }}
                <ul>
                  <li class="options-list" *ngFor="let option of generic.options" (click)="responseElementClicked(option.value.input.text)">
                    {{ option.label }}
                  </li>
                </ul>
              </div>
            </span>
          </p>
        </div>
      </div>
      <div *ngIf="message !== messages[messages.length - 1]" class="from-watson top">
        <div class="message-inner">
            <p>
                <span *ngFor="let generic of message.response.output.generic">
                  <div *ngIf="generic.response_type === 'text'">{{generic.text}}</div>
                  <div style="padding-top: 5px"></div>
                  <div *ngIf="generic.response_type === 'option'">
                    {{ generic.title }}
                    <ul>
                      <li *ngFor="let option of generic.options">
                        {{ option.label }}
                      </li>
                    </ul>
                  </div>
                </span>
              </p>
        </div>
      </div>
    </div>
  </div>
</div>