// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/assistant-sample/css/app.css";

@supports not (scroll-behavior: smooth) {
  .content {
    -webkit-overflow-scrolling: touch;
  }
}

::-webkit-scrollbar {
  width: 0.25em;
}

::-webkit-scrollbar-button {
  background: #ccc;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  width: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  width: 0.25em;
}
