<ion-header>
  <ion-toolbar> <ion-title> Ionic Watson Assistant </ion-title> </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div class="layout"  style="padding-bottom: 35px; padding-top: 2px">
    <message-renderer [messages]="messages" (responseClicked)="sendMessage($event)" ></message-renderer>
  </div>
</ion-content>
<ion-footer style="padding-bottom: 2px;">
  <label for="textInput" class="inputOutline">
    <input
      id="textInput"
      class="input responsive-column"
      placeholder="Type something"
      type="text"
      autofocus=""
      style="width:100%"
      [(ngModel)]="userMessage"
      (keydown)="keydownHandler($event)"
    />
  </label>
</ion-footer>
